@import '../../theme';

.channel {
  font-weight: 600;
  display: flex;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.selectedChannel {
  background-color: $PRIMARY_COLOR;
}

.unreadCount {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 3px;
  border-radius: 20px;
  height: 20px;
  min-width: 20px;
  font-weight: bold;
  background-color: $SECONDARY_COLOR;
}
