@import '../theme';

.container {
  border-right: solid 3px #ddd;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden; // It is workaround. I should calculate the width accurately.
  width: 200px;

  display: flex;
  justify-content: start;
  flex-direction: column;
}
