@import '../theme';

@mixin event() {
  border-bottom: solid 3px #ddd;
  cursor: pointer;
}

.unreadEvent {
  @include event();
  color: $FONT_COLOR;
}

.readEvent {
  @include event();
  background: $BACKGROUND_DARK_COLOR;
  color: $MUTED_FONT_COLOR;
}

@mixin title() {
  margin: 0;
  min-height: 70px;
  padding-bottom: 5px;
}

.readEventTitle {
  @include title();
}

.unreadEventTitle {
  @include title();
}

@mixin icon() {
  width: 2rem;
  height: 2rem;
}

.openIcon {
  @include icon();
  color: $GITHUB_OPEN_COLOR;
}

.closedIcon {
  @include icon();
  color: $GITHUB_CLOSED_COLOR;
}

.mergedIcon {
  @include icon();
  color: $GITHUB_MERGED_COLOR;
}

.undeterminedIcon {
  @include icon();
  color: $MUTED_FONT_COLOR;
}

.labelBox {
  margin: 5px;
}

.label {
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 4px;
  margin-right: 5px;
}

.footer {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.userIcon {
  width: 1em;
  height: 1em;
  display: inline;
}
