.main {
  padding-left: 5px;
  border-right: solid 3px #ddd;
  box-sizing: border-box;
  overflow-y: auto;
  width: 200px;
}

.channel {
  font-weight: 600;
  display: flex;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.unreadCount {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  border-radius: 20px;
  height: 20px;
  min-width: 20px;
  background-color: #ff9999; // TODO
}
