.main {
  border-right: solid 3px #ddd;
  box-sizing: border-box;
  overflow-y: auto;
  width: 400px;
}

.event {
  border-bottom: solid 3px #ddd;
}

.unreadEvent {
}

.readEvent {
  background: #eee;
}

.readEventTitle {
  color: #999;
}
