@mixin event() {
  border-bottom: solid 3px #ddd;
}

.unreadEvent {
  @include event();
}

.readEvent {
  @include event();
  background: #eee;
}

@mixin title() {
  margin: 0;
  min-height: 70px;
  padding-bottom: 5px;
}

.readEventTitle {
  @include title();
  color: #999;
}

.unreadEventTitle {
  @include title();
  color: #000;
}

@mixin icon() {
  width: 2rem;
}

.openIcon {
  @include icon();
  color: green;
}

.closedIcon {
  @include icon();
  color: red;
}

.labelBox {
  margin: 5px;
}

.label {
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 4px;
  margin-right: 5px;
}

.footer {
  margin: 5px;
}
