$PRIMARY_COLOR: #ffba64;
$SECONDARY_COLOR: #51ce8f;
$ADDITION_COLOR: #626acc;
$BACKGROUND_COLOR: #fafafa;
$BACKGROUND_DARK_COLOR: #eaeaea;
$FONT_COLOR: #333;
$MUTED_FONT_COLOR: #999;

$GITHUB_OPEN_COLOR: #28a745;
$GITHUB_MERGED_COLOR: #6f42c1;
$GITHUB_CLOSED_COLOR: #cb2431;
